@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


@theme {
  --color-rabbit: #914215;
  --color-rabbit-light: #e4671f;
  --color-rabbit-dark: #472109;
}


#root {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: auto;
  --swiper-navigation-color: #914215;       /* arrow color */
    
}
 

/* Make buttons full height */
.swiper-button-prev,
.swiper-button-next {
  background-color: rgba(255, 255, 255, 0.5); /* light transparent bg */
  color: #914215;                             /* arrow color */                            /* full height of swiper container */
                   /* center arrow horizontally */
}
